.weather-card {
  position: absolute;
  height: fit-content;
  width: 400px;
  background-color: rgba(3, 180, 224, 0.671);
  border-radius: 20px;
  box-shadow: 9px 10px 53px -8px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 9px 10px 53px -8px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 9px 10px 53px -8px rgba(0, 0, 0, 0.49);
  padding: 40px;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  .place-wrap {
    width: 75%;
    margin: 0;
    .place {
      font-size: 26px;
      font-weight: 500;
    }
  }

  .weather-info {
    padding-top: 20px;

    .condition-ico {
      position: absolute;
      right: 25px;
      height: 100px;
      width: auto;
    }
    p {
      margin-top: 5px;
      font-weight: 400;
      span {
        font-weight: 500;
      }
    }
    .weather-condition {
      font-size: 21px;
    }
    .temp-wrap {
      .temperature {
        font-size: 100px;
        font-weight: 400;
      }
      .deg {
        position: relative;
        bottom: 60px;
        font-size: 30px;
      }
    }
  }

  .lastupdated {
    margin-top: 30px;
    span {
      font-weight: 500;
    }
  }
}
